<br>
<br>
<br>
<div class="col-xs-4 col-xs-offset-4">
<h1>About Us</h1>
<p class="about-us" style="text-align: center; font-size: large;">
  This website allows users to find their Facebook friends
  in real time and view it on a map. Now you can know immediately which of your friends are nearby!
</p>
</div>
